.services-section {
  text-align: center;
  padding: 80px 5%;
  background-color: #f8f9fa;
}

.services-section h2 {
  font-size: 38px;
  font-weight: 800;
  color: #111;
}

.services-section h2 span {
  color: orange;
}

.services-intro {
  max-width: 800px;
  margin: 10px auto 50px;
  color: #555;
  font-size: 16px;
}

.services-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  flex-wrap: wrap;
}

.services-left,
.services-right {
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.service-item {
  display: flex;
  align-items: center;
  gap: 15px;
  max-width: 350px;
}

.icon-bg {
  width: 70px;
  height: 70px;
  background-color: orange;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-bg i {
  color: white;
  font-size: 28px;
}

.service-item h3 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 5px;
}

.service-item p {
  color: #555;
  font-size: 15px;
  margin: 0;
}

.car-image img {
  max-width: 420px;
  width: 100%;
}

@media (max-width: 900px) {
  .services-container {
    flex-direction: column;
    align-items: center;
  }
}

.section-number {
  font-size: 55px;         /* Large size */
  font-weight: 700;        /* Bold */
  color: #FFA500;          /* Orange color */
  text-align: center;      /* Center horizontally */
  margin-top: 50px;        /* Spacing from top */
  font-family: 'Poppins', sans-serif;
}

@media (max-width: 768px) {
  .section-number {
    font-size: 55px;
  }
}

@media (max-width: 480px) {
  .section-number {
    font-size: 42px;
  }
}
